pkgbase = codebase-memory-mcp
	pkgdesc = Fast code intelligence engine for AI coding agents — single static binary MCP server
	pkgver = 0.9.0
	pkgrel = 1
	url = https://github.com/DeusData/codebase-memory-mcp
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = codebase-memory-mcp
	conflicts = codebase-memory-mcp
	source_x86_64 = codebase-memory-mcp-0.9.0-linux-amd64.tar.gz::https://github.com/DeusData/codebase-memory-mcp/releases/download/v0.9.0/codebase-memory-mcp-linux-amd64.tar.gz
	sha256sums_x86_64 = e2832a8d207c26beaa30efa6222ed4a37cb3f526ca4bee060bfbf336ed6fc679
	source_aarch64 = codebase-memory-mcp-0.9.0-linux-arm64.tar.gz::https://github.com/DeusData/codebase-memory-mcp/releases/download/v0.9.0/codebase-memory-mcp-linux-arm64.tar.gz
	sha256sums_aarch64 = 68a345d9a6842f02a3cb07e187b28bc38c4f3a22967f47fadbcd0757ba93a680

pkgname = codebase-memory-mcp
